.navbar{
    width: 90%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%,transparent );
    z-index: 10001;;
}
.navbar-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navbar-left ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.navbar-left img{
    width : 90px;
}
.navbar-left ul li {
    cursor: pointer;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-right .icon{
    width:20px;

    cursor: pointer;
}
.navbar-right .profile{
    width:35px;
    border-radius: 4px;
}
.navbar-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}
.dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}
.navbar .dropdown p{
    font-size: 13px;
    cursor: pointer;
}
.navbar-profile:hover .dropdown{
    display: block;
}  
.nav-dark{
    background : #141414
} 
.search-input {
  background: rgba(0,0,0,0.7);
  border: 1px solid white;
  padding: 7px 12px;
  color: white;
  margin-left: 10px;
  border-radius: 4px;
  backdrop-filter: none !important;
  filter: none !important;
  z-index: 10002;
}


@media (max-width:800px){
    .navbar{
        padding:20px 4%;
    }
    .navbar-left ul{
        display:none;
    }
    .navbar img{
        height: 25px;
    }

}
@media (max-width:500px){
    .navbar img{
        height:20px;
    }
    .navbar-right{
        gap:10px;
    }
}